<ion-view>
	<ion-nav-buttons class="item-input-inset">
	    <h1 class='title'>Edit</h1>
	    <button class="button button-clear button-positive" ng-if="validate()" ng-click="save()">OK</button>
	</ion-nav-buttons>
	<ion-content>
		<ion-list>
			<ion-item>
				<ion-label primary stacked class="ion-label-size">Name</ion-label>
				<input type="text" ng-model="model.name" required>
			</ion-item>	
			<ion-item>
				<ion-label primary stacked class="ion-label-size">Latitude</ion-label>
				<input type="number" ng-readonly="readcoord" min="-90" max="90" step="any" ng-model="model.location.coordinates[1]" required>
			</ion-item>
			<ion-item>
				<ion-label primary stacked class="ion-label-size">Longitude</ion-label>
				<input type="number" ng-readonly="readcoord" min="-180" max="180" step="any" ng-model="model.location.coordinates[0]" required>
			</ion-item>
			
			<ion-item>
				<ion-label primary stacked class="ion-label-size">Address</ion-label>
				<input type="text" ng-readonly="readonly" ng-model="model.address" required>
			</ion-item>
			<ion-item>
				<ion-label primary stacked class="ion-label-size">Tags</ion-label>
				<div>	
					<label class="tag-label-width">
						<input type='hidden' ng-model='model.origTagID'>
						<tag-editor ng-model="tags" output="name" placeholder="Press space or enter to add a tag." fetch='api/tag?name='></tag-editor>
						<span class="log"></span>
					</label>
				</div>		
			</ion-item>
		</ion-list>
	</ion-content>
</ion-view>
