<ion-view>
	<ion-nav-buttons class="item-input-inset">
	    <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
	    <h1 class='title'>Hotspot List</h1>
	    <button class="button icon-right ion-plus-round" on-tap="create()"></button>
	</ion-nav-buttons>
	<ion-content>
		<ion-list>
			<!--<label class="item item-input">
			    <i class="icon ion-search placeholder-icon"></i>
			    <input type="text" placeholder="Search" ng-keyup="search($event)">
			</label>-->
		
			<div class='row header-padding'>
					<div class="col-md-4 cell-padding">
						<span>Name</span>
					</div>
					<div class="col-md-2 cell-padding">
						<span>Latitude</span>
					</div>
					<div class="col-md-2 cell-padding">
						<span>Longitude</span>
					</div>
					<div class="col-md-4 cell-padding">
						<span>Address</span>
					</div>
			</div>
			
			<ion-item ng-repeat="model in collection.models" on-tap="read('{{model.id}}');">				
				<div class='row'>
					<div class="col-md-4 nowrap">
						<span>{{model.name}}</span>
					</div>
					<div class="col-md-2 nowrap">
						<span>{{model.location.coordinates[1]}}</span>
					</div>
					<div class="col-md-2 nowrap">
						<span>{{model.location.coordinates[0]}}</span> 
					</div>
					<div class="col-md-4 nowrap">
						<span>{{model.address}}</span> 
					</div>
				</div>
				<ion-option-button class="button button-positive icon-left ion-edit" on-tap="$event.stopPropagation(); edit('{{model.id}}')">Edit</ion-option-button>
				<ion-option-button class="button button-assertive icon-left ion-trash-b" on-tap="$event.stopPropagation(); delete(model)">Delete</ion-option-button>
			</ion-item>
			      
		</ion-list>
		<ion-infinite-scroll ng-if="collection.state.skip < collection.state.count" on-infinite="loadMore()">	
		</ion-infinite-scroll>	
	</ion-content>
</ion-view>