<ion-view>
	<ion-nav-buttons class="item-input-inset">
	    <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
	    <h1 class='title'>Hotspot List</h1>
	    <button class="button icon-right ion-plus-round" on-tap="create()"></button>
	</ion-nav-buttons>
	<ion-content>
		<ion-list>
			<ion-item>				
				<p>Name<p>
				<p>Latitude / Longitude</p>
				<p>Address</p>
			</ion-item>
			<ion-item ng-repeat="model in collection.models" on-tap="read('{{model.id}}');">				
				<div class='nowrap'>
					<h3>{{model.name}}</h3>
					<p>{{model.location.coordinates[1]}} / <span>{{model.location.coordinates[0]}}</p>
					<p>{{model.address}}</p>
				</div>
				<ion-option-button class="button button-positive icon-left ion-edit" on-tap="$event.stopPropagation(); edit('{{model.id}}')">Edit</ion-option-button>
				<ion-option-button class="button button-assertive icon-left ion-trash-b" on-tap="$event.stopPropagation(); delete(model)">Delete</ion-option-button>
			</ion-item>
			      
		</ion-list>
		<ion-infinite-scroll ng-if="collection.state.skip < collection.state.count" on-infinite="loadMore()">	
		</ion-infinite-scroll>	
	</ion-content>
</ion-view>