<ion-view>
	<ion-nav-buttons class="item-input-inset">
	    <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
	    <h1 class='title'>Hotspot Coverage</h1>
	</ion-nav-buttons>
	<ion-content>
		<div id="map_canvas" data-tap-disabled="true">
			<script id="searchbox.tpl.html" type="text/ng-template">
					<input id="pac-input" class="searchBox" type="text" placeholder="Search">			
			</script>
			<ui-gmap-google-map center='map.center' zoom='map.zoom' options="options" bounds='map.bounds' events="map.events" control="map.control">
				<ui-gmap-marker coords="marker.coords" options="marker.options" idkey="marker.id" events="marker.events"></ui-gmap-marker>
				<ui-gmap-markers models="markers" coords="'self'" icon="'icon'" events="markers.events" doCluster="true"></ui-gmap-markers>
				<ui-gmap-window show="window.show" coords="window.model" options="window.options" closeClick="closeClick()"><div id='infowindow'><span id='title'>{{window.title}}</span><br>{{window.tag}}<br>{{window.info}}<br>{{window.address}}</div></ui-gmap-window>				
				<ui-gmap-search-box template="searchbox.template" events="searchbox.events"></ui-gmap-search-box>
			</ui-gmap-google-map>	

		</div>
	</ion-content>
</ion-view>