<ion-view>
	<ion-nav-buttons class="item-input-inset">
	    <h1 class='title'>Wifi Hotspot</h1>
	    <button class="button button-clear button-positive" ng-click="edit('{{model.id}}')">Edit</button>
	</ion-nav-buttons>
	<ion-content>
		<ion-list>
			<ion-item>
				<ion-label primary stacked class="ion-label-size">Name</ion-label>
				<p>{{model.name}}</p>
			</ion-item>	
			<ion-item>
				<ion-label primary stacked class="ion-label-size">Latitude</ion-label>
				<p>{{model.location.coordinates[1]}}</p>
			</ion-item>
			<ion-item>
				<ion-label primary stacked class="ion-label-size">Longitude</ion-label>
				<p>{{model.location.coordinates[0]}}</p>
			</ion-item>
			<ion-item>
				<ion-label primary stacked class="ion-label-size">addresss</ion-label>
				<p>{{model.address}}</p>
			</ion-item>
			<ion-item>
				<ion-label primary stacked class="ion-label-size">Tags</ion-label>
				<div>	
					<span style="display:inline-block;height:24px;margin:0 7px 0 0;background-color:#ffab40;color:#fff;padding:0 5px;border-radius:2px;font-size:14px;line-height:24px;cursor:default;transition:box-shadow 100ms linear;" ng-repeat="tag in model.tags">{{tag.name}}</span>
				</div>		
			</ion-item>
		</ion-list>
	</ion-content>
</ion-view>